/* universal section */
*{
    font-family: Fira Sans;
}
/* header section  */
/* --------------------------------------menu */
/* -----------------------------------hero section  */
.hero-container{
    height: 560px;
    width: 1280px;
    background-color: #C6E4D6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 120px 160px 0px 160px;
    border-radius: 24px;
}
.text-box > p{
    font-family: Fira Sans;
    font-size: 24px;
    font-weight: 200px;
    color: #0e0e0e;
    opacity: 50%;
}
.text-box > h1{
    font-family: Fira Sans;
    font-size: 56px;
    font-weight: bold;
    color: #0e0e0e;
    margin-bottom: 24px;
}
.text-box > button{
    background-color: #006A50;
    color: #ffffff;
    border-radius: 8px;
    padding: 17px 34px;
    border: none;
    font-weight: 700;
    font-size: 18px;
}
.text-box{
    padding-left: 60px;
}
.image-box{
    padding-right: 60px;
}
/* ---------------------------------vision-container  */
.vision-container{
    margin: 80px 160px 0px 160px;
    width: 1280px;
}
.text{
    height: 120px;
    width: 1280px;
}
.card{
    height: 325px;
    width: 1280px;
    display: flex;
    gap: 60px;
    align-items: center;
    margin-top: 40px;
}
.qoute{
    height: 250px;
    width: 1380px;
    padding: 40px 90px;
    height: fit-content;
    width: fit-content;
    background-color: #ffffff;
    border: 2px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    margin-top: 30px;
}
.vision-container > .text > h2{
    font-size: 40px;
    font-weight: bold;
    color: #0e0e0e;
}
.vision-container > .text > p{
    font-size: 16px;
    color: #0e0e0e;
    opacity: 70%;
}
.card1{
    background-color: rgb(84, 144, 245, 0.2);
    padding: 40px;
    border-radius: 16px;
}
.card2{
    background-color: #C6E4D6;
    padding: 40px 50px;
    border-radius: 16px;
}
.card3{
    background-color: #F7EBCF;
    padding: 40px;
    border-radius: 16px;
}
.card1 > button{
    background-color: #5490F5;
    color: #ffffff;
    font-weight: 700px;
    font-size: 16px;
    padding: 11px 20px;
    border: none;
    border-radius: 8px;
}
.card1 > button{
    background-color: #5490F5;
    color: #ffffff;
    font-weight: 700px;
    font-size: 16px;
    padding: 11px 20px;
    border: none;
    border-radius: 8px;
}
.card2 > button{
    background-color: #09A15C;
    color: #ffffff;
    font-weight: 700px;
    font-size: 16px;
    padding: 11px 20px;
    border: none;
    border-radius: 8px;
}
.card3 > button{
    background-color: #FFC239;
    color: #ffffff;
    font-weight: 700px;
    font-size: 16px;
    padding: 11px 20px;
    border: none;
    border-radius: 8px;
}
.cheif-advisor{
    line-height: 8%;
}
.cheif-advisor > p{
    opacity: 60%;
}
/* --------------------------recent section */
.news-container{
    width: 1280px;
    margin: 80px 160px 0px 160px;
}
.text{
    height: 120px;
    width: 1280px
}
.recent-1{
    height: 402px;
    width: 1280px;
    display: flex;
    gap: 50px;
    padding: 50px 80px;
    align-items: center;
    background-color: #ffffff;
    border-radius: 24px;
    height: fit-content;
    width: fit-content;
    margin-top: 30px;
}
.recent-2{
    height: 402px;
    width: 1280px;
    display: flex;
    gap: 50px;
    align-items: center;
    flex-direction: row-reverse;
    background-color: #ffffff;
    margin-top: 30px;
    padding: 50px 80px;
    border-radius: 24px;
    height: fit-content;
    width: fit-content;
}
.child-1{
    width: 408px;
    height: 306px;
}
.child-1 > img{
    border-radius: 24px;
}
.time{
    display: flex;
    gap: 10px;
    align-items: flex-start;
    font-size: 16px;
    color: #0e0e0e;
    opacity: 70%;
}
.child-2 > p{
    font-size: 16px;
    color: #0e0e0e;
    opacity: 70%;
}
.child-2 > button{
    background-color: #006A50;
    padding: 13px 26px;
    border: none;
    border-radius: 8px;
    font-family: 18px;
    color: #ffffff
}
/* --------------------------------------donate section */
.donate{
    height: 350px;
    width: 1280px;
    margin: 80px 160px 0px 160px;
}
.box-1{
    text-align: center;
}
.box-2{
    display: flex;
    gap: 30px;
    justify-content: center;
}
.tk-1{
    background-color: #ffffff;
    border: 2px solid rgba(14, 14, 14, 0.15);
    padding: 10px 45px;
    border-radius: 16px;
}
.box-3{
    width: 1032px;
    height: 64px;
    text-align: center;
}
.box-3 > input{
    padding: 20px 450px;
    margin-top: 20px;
    margin-left: 100px;
    border: 2px solid rgba(14, 14, 14, 0.15);
    font-size: 20px;
}
.box-4 > button{
    background-color: #006A50;
    padding: 13px 26px;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    color: #ffffff;
    font-weight: 600;
    margin: 30px;
    
}
.box-4{
    text-align: center;
    margin-top: 20px;
}
/* ----------------------------------------news subscription section  */
.subscribe{
    height: 395px;
    width: 1280px;
    background-color: #C6E4D6;
    margin: 150px 160px 0px 160px;
}
.subscribe > h2{
    
}
.h2{
    font-size: 40px;
    font-weight: bold;
}